<template name="Home">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h2>Information</h2>
          <ul>
            <li>About Us</li>
            <li>Administration</li>
            <li>Athletics</li>
            <li>Bell Schedule</li>
            <li>Calendar</li>
            <li>Counselors</li>
            <li>Daily Bulletin</li>
            <li>Directories</li>
            <li>Knightly News</li>
            <li>Library</li>
            <li>Lunch Menu</li>
            <li>Small Learning Communities</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 hidden-xs">
        <div class="well">
          <h2>Welcome to Castle High School</h2>
          <div class="front-page-image"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h2>Announcements</h2>
          <p>Monday, October 19
            Periods 1-7</p>

          <p>Tuesday, October 20
            Periods 1, 3, 5, 7</p>

          <p>Wednesday, October 21
            Periods 2, 4, 6</p>

          <p>Thursday, October 22
            Periods 1, 3, 5, 7</p>

          <p>Friday, October 23
            Periods 2, 4, ADV, 6</p>
        </div>
      </div>
    </div>
  </div>
</template>
